---
import { getCollection } from 'astro:content';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths: GetStaticPaths = async () => {
  const entries = await getCollection('articles', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return entries.map((entry) => ({
    params: { slug: entry.id },
  }));
};

const { slug } = Astro.params;
---

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="canonical" href={`/en/blog/${slug}`}>
</head>
<body>
  <script define:vars={{ slug }}>window.location.href = `/en/blog/${slug}`;</script>
</body>
</html>
